.project-home {
    position: relative;
    .title {
        height: 80px;
        line-height: 80px;
        font-size: 22px;
        font-weight: bold;
    }
    .add-project {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        cursor: pointer;
    }
    .open-project {
        position: absolute;
        right: 100px;
        top: 40px;
    }
}

.step-wrapper {
    padding-top: 200px;
    .step-box {
        width: 400px;
        height: 420px;
        margin: auto;
        
    }
    .steps-action {
        display: flex;
        justify-content: center;
    }
    .demo-shoot {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.hide {
    display: none;
}
